:root {
  --color-dark: #26223d;
  --color-primary: #4d4077;
  --color-secondary: #574786;
  --color-tertiary: #614f96;
  --color-quaternary: #6b57a4;
  --color-light: #ebebeb;
  --color-yellow: #ffc107;
  --color-orange: #ff5722;
  --color-green: #00796b;
  --color-red: #c62828
}

html, #root {
  height: 100%;
}

body {
  background-image: linear-gradient(180deg, var(--color-dark) -50%, var(--color-primary) 100%);
  color: var(--color-light);
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}